{% extends 'GrossumCoreBundle::layouts.html.twig' %}

{% block content %}
    {% for news in newsAll %}
        <a href="{{ path('grossum_news_full', {'id': news.id}) }}">{% path news.image, 'reference' %}</a>
        <p class="news-date">
            {{ news.publicationAt.format('F jS, Y') }}
        </p>
        <h3><a href="{{ path('grossum_news_full', {'id': news.id}) }}">Название: {{ news.title }}</a></h3>
    {% endfor %}
{% endblock %}