{% extends 'GrossumCoreBundle::layouts.html.twig' %}

{% block content %}
    <h2>Название: {{ news.title }}</h2>
    <a href="{{ path('grossum_news_full', {'id': news.id}) }}">{% path news.image, 'reference' %}</a>
    <p class="news-date">
        {{ news.publicationAt.format('F jS, Y') }}
    </p>
    {{ news.description }}
{% endblock %}